<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="common/header :: head"></head>
</head>
<body>
	<div th:replace="common/header :: top-navigation">...</div>

	<div class="container">

		<div class="page-header">
			<h1>Home</h1> 
		</div>
		<p th:text="'Hello, ' + ${actionName} + '!'" />
		<p class="lead">
			This is home page of Currency Conversion Application.
		</p>
		<div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li th:class="${actionName == 'converter'} ? 'active' : ''" ><a href="/converter">Converter</a></li>
            <!-- <li th:class="${actionName == 'contact'} ? 'active' : ''" ><a href="/contact">Contact</a></li>   -->         
          </ul>
         
        </div>
		
	</div>

	<div th:replace="common/footer :: footer">...</div>
    
</body>
</html>